<!doctype html>
<html lang="en" >
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="script.js"></script>
	
</head>
<body ng-app="myModule">

    <div ng-controller="myController">
	<button id="top" ng-click="scrollTo('bottom')">Move to Bottom</button>
	<br>
	Anguler is a JavaScript Framework
	<br>
	Anguler is a JavaScript Framework
	<br>
	Anguler is a JavaScript Framework
	<br>
	Anguler is a JavaScript Framework
	<br>
	Anguler is a JavaScript Framework
	<br>
	Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>
	Anguler is a JavaScript Framework
	<br>
	Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
		<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework
	<br>Anguler is a JavaScript Framework

	<br>
	<br>
	<button id="bottom" ng-click="scrollTo('top')">Move to Top</button>
	</div>
</body>
</html>